@media screen and (max-width: 600px) {
    .container-navbar {
        flex-direction: column;
    }

    #botao-dropdown {
        display: inline-block;
    }

    .login a {
        display: none;
    }

    .capa-principal {
        background-size: contain;
        height: 470px;
    }

    .carousel {
        z-index: -1;
    }

    #carousel-capa {
        height: 468px;
    }

    #carousel-capa img {
        height: 468px;
    }

    .nav-filmes {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .grid-container {
        width: 85%;
        display: flex;
        flex-direction: column;
    }

    .precos-planos {
      height: 900px;
      padding: 50px;
    }

    #area-copy {
        font-size: 12px;
    }

    .titulo-main {
      font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .container-navbar {
        flex-direction: row;
    }
    .capa-principal {
        background-size: contain;
    }

    .nav-filmes {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .precos-planos {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .link-group a {
        font-size: 13px;
    }

    .flex::nth-child(2) {
        border-left: 1px solid rgb(34, 34, 37);
    }

    .titulo-main {
      font-size: 40px;
    }

}

@media screen and (max-width: 850px) {
    .precos-planos {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .link-group {
        display: flex;
        flex-direction: column;
    }

    .flex {
        padding-top: 25px;
    }

    .titulo-main {
      font-size: 40px;
    }
}

@media screen and (max-width: 1280px) {
    .nav-filmes {
        display: none;
    }
}
