:root {
    --vermelho: red;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141415;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 60px;
}

.container-navbar a {
    font-size: 16px;
    font-family: Roboto, helvetica, arial, sans-serif;
    margin-right: 10px;
}

.grow-1 {
    flex-grow: 1;
}

a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 20px;
    font-family: "Arial Black";
    height: 100%;
}

.logo a {
    margin-left: 40px;
}

.logo-white {
    color: var(--branco);
}

.logo-red {
    color: var(--vermelho);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    align-items: center;
}

nav i {
    font-size: 22px;
    margin-left: 8px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.botao-experimente {
    background-color: var(--vermelho);
    padding: 8px;
    border: none;
    border-radius: 5px;

    color: var(--branco);

    cursor: pointer;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30px;

    background-color: transparent;
}

.icon-search {
    color: #ccc;
    background-color: transparent;
    font-size: 18px;

    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder  { color:#ccc; font-size: 15px; }
input:-moz-placeholder { color:#ccc; }
textarea:-moz-placeholder { color:#ccc; }