:root {
    --vermelho: red;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:  border-box;
    -moz-box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #141415;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.header {
    position: relative;
}

/* BARRA DE NAVEGAÇÃO PRINCIPAL */

.container-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.container-navbar a {
    font-size: 17px;
    font-family: Roboto, helvetica, arial, sans-serif;
    margin-right: 10px;
}

#dropdown-menu {
    position: absolute;
    background-color: #141415;
    top: 60px;
    display: none;
    width: 100%;
    z-index: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dropdown-menu a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    color: #fff;
    text-align: center;
    border-top: 1px solid rgb(34, 34, 37);
}

#botao-dropdown {
    display: none;
    background-image: url("../img/botao-mobile.png");
    background-size: contain;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    width: 35px;
    height: 30px;
}

.grow-1 {
    flex-grow: 1;
}

a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0px;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 20px;
    font-family: "Arial Black";
    height: 100%;
}

.logo a {
    margin-left: 40px;
}

.logo-white {
    color: var(--branco);
}

.logo-red {
    color: var(--vermelho);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    align-items: center;
}

nav i {
    font-size: 22px;
    margin-left: 8px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search-bar form {
    margin-left: 25px;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30px;

    background-color: transparent;
    color: #fff;
}

.icon-search {
    color: #ccc;
    background-color: transparent;
    font-size: 18px;

    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder  { color:#ccc; font-size: 15px; }
input:-moz-placeholder { color:#ccc; }
textarea:-moz-placeholder { color:#ccc; }


.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.login a p {
    font-size: 10px;
    text-align: center;
}

.botao-experimente {
    background-color: var(--vermelho);
    padding: 4px;
    border: none;
    border-radius: 7px;


    display: flex;
    align-items: center;

    color: var(--branco);
    font-weight: 600;

    cursor: pointer;
    width: 120px;
    height: 30px;
}

/* SEÇÃO DE CAPA */

.capa-principal {
    /*background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("../img/guardioes.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#carousel-capa {
    width: 100%;
    height: 618px;
    position: relative;
}

#carousel-capa img {
    width: 100%;
    height: 618px;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#carousel-capa img.selected {
    opacity: 1;
}

.secao-filmes {
    width: 100%;
    margin-bottom: 20px;
}

.titulo-genero {
    font-size: 21px;
    font-weight: 600;
    font-family: Roboto, helvetica, arial, sans-serif;
    padding-bottom: 30px;
    padding-left: 15px;
}

.carousel {
    display: flex;
    z-index: 1;
    padding-bottom: 30px;
}

.carousel img {
    margin-left: 15px;
    width: 220px;
}

.box-filme {
    width: 120px;
    height: 200px;
    display: block;
}

.box-filme-min {
    width: 320px;
    height: 290px;
    display: block;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-left: 40px;
    padding-top: 70px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    color: #fff;

    padding: 15px;
    padding-top: 30px;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    height: 85%;
    margin: 0 auto;
    padding: 15px 0;
    border-top: 1px solid rgb(34, 34, 37);
}

.flex {
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    padding: 20px;
    padding-left: 0;
}

.links-area {
    display: flex;
}

.left-area {
    width: 50%;
    padding-top: 0;
}

.right-area {
    width: 50%;
    padding-top: 0;
}

.link-group {
    padding: 5px;
    width: 100%;
}

.link-group a {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
}

.link-group a:hover {
    text-decoration: underline;
}

.botao-footer {
    padding: 8px;
    max-width: 100px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 25px;
    font-weight: 600;
}


#area-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #222225;
    color: #fff;
    font-size: 15px;
    padding: 25px;
}


/* ==== TIPOGRAFIA ==== */
.titulo-secao {
    font-size: 15px;
    font-weight: 600;
    font-family: Roboto, helvetica, arial, sans-serif;
    color: #fff;
}
